### Cycle Share Data set
Bicycle Trip Data from Seattleâ€™s Cycle Share System
Oqla alrefai   11/25/2021

In [5]:
import pandas as pd
station_df = pd.read_csv("station.csv")
trip_df = pd.read_csv('trip.csv',error_bad_lines=False)
weather_df = pd.read_csv('weather.csv')

/home/oqlaalrefai/vg-stats/.venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

#### 1- the average trip duration for a borrowed bicycle

In [6]:
trip_df.head(3)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0

In [8]:
trip_df['tripduration'].mean()

1178.2956753399776

### 2- the most common age of a bicycle-sharer

In [11]:
2021 - (trip_df['birthyear'].mode()[0])

34.0

### 3- Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [12]:
weather_df.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [29]:
weather_df.groupby('Date').Precipitation_In.mean()

Date
1/1/2015     0.00
1/1/2016     0.00
1/10/2015    0.18
1/10/2016    0.00
1/11/2015    0.06
             ...
9/5/2015     0.06
9/6/2015     0.19
9/7/2015     0.00
9/8/2015     0.00
9/9/2015     0.00
Name: Precipitation_In, Length: 689, dtype: float64

### 4- the average number of bikes at a given bike station

In [27]:
station_df.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

In [38]:
dock_count=station_df[station_df['decommission_date'].notnull()]
all=station_df[station_df['decommission_date'].isnull()]
avg_bike_num=all.mean()
avg_bike_num=avg_bike_num.current_dockcount
avg_bike_num

/tmp/ipykernel_653/302490170.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_bike_num=all.mean()

17.74074074074074

### 5- When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know

In [40]:
stat=station_df[['modification_date','install_dockcount','current_dockcount']].dropna()
stat['current_dockcount'].sum()-stat['install_dockcount'].sum()

-64

### 6- Come up with 3 more questions that can be answered with this data set.

##### 1- What is Maximum Wind Speed Mesured in the dataset ?

In [31]:
weather_df["Max_Wind_Speed_MPH"].max()

30

##### 2-  what five dates were the coldest?

In [32]:
weather_df.sort_values('Min_TemperatureF').head()[['Date','Min_TemperatureF']]

           Date  Min_TemperatureF
446    1/2/2016                23
445    1/1/2016                25
411  11/28/2015                26
50    12/2/2014                26
79   12/31/2014                26

##### 3- What is the average max humidity?

In [33]:
weather_df.Max_Humidity.mean()

84.54136429608128