## Video Game Sales
oqla alrefai 11/15/2021

In [1]:
import pandas as pd
#%matplotlib_inline
#import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("vgsales.csv")
df.head(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82

#### the most common video game publisher

In [4]:
df['Publisher'].mode()

0    Electronic Arts
dtype: object

#### the most common platform

In [5]:
df['Platform'].mode()

0    DS
dtype: object

#### the most common genre

In [6]:
df['Genre'].mode()

0    Action
dtype: object

#### the top 20 highest grossing games

In [18]:
df.sort_values('Global_Sales',ascending=False).head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

#### the median of North American video game sales

In [24]:
df[['Name', 'NA_Sales']].median()[0]
df[df['NA_Sales'] == df[['Name', 'NA_Sales']].median()[0]].head()

/tmp/ipykernel_521/1739845711.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[['Name', 'NA_Sales']].median()[0]

KeyError: "None of [Float64Index([41.49, 29.08, 15.85, 15.75, 11.27,  23.2, 11.38, 14.03, 14.59,\n              26.93,\n              ...\n               0.01,   0.0,   0.0,  0.01,  0.01,  0.01,  0.01,   0.0,   0.0,\n               0.01],\n             dtype='float64', length=16598)] are in the [columns]"

In [43]:
x = (df['NA_Sales'].head(1))
meanValue = df["NA_Sales"].mean()
standardDeviation = (x - meanValue)/df["NA_Sales"].std()
standardDeviation[0]

50.47898767479108

In [50]:
df[df['Platform']== 'Wii'].Global_Sales.mean()

0.6994037735849057

### Come up with 3 more questions that can be answered with this data set.

#### what is the most recent game produced ?

In [62]:
x = df['Year'].max()
data = df[df['Year'] == x].head(1)
data['Name']

5957    Imagine: Makeup Artist
Name: Name, dtype: object

#### find top 5 games in 2015?

In [65]:
data = df[df['Year'] == 2010]
data[['Name','Rank']].head(5)

                           Name  Rank
15           Kinect Adventures!    16
26  Pokemon Black/Pokemon White    27
31      Call of Duty: Black Ops    32
40      Call of Duty: Black Ops    41
54               Gran Turismo 5    55

#### display the top sport games in rank ?

In [69]:
sportGames = df[df['Genre']=='Sports']
sportGames.sort_values('Rank',ascending=True).head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
77,78,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49